/**
 * @name Catppuccin Frappe
 * @author winston#0001
 * @authorId 505490445468696576
 * @version 0.2.0
 * @description 🎮 Soothing pastel theme for Discord
 * @website https://github.com/catppuccin/discord
 * @invite r6Mdz5dpFc
**/

@use "sass:math";
@use "shades/spring" as *;
@use "@catppuccin/highlightjs/sass/theme";

$brand: $blue;

$lavender: $pink;
$rosewater: $pink;
$mauve: $purple;
$sky: $skye;
$teal: $aqua;
$maroon: $red;
$peach: $orange;
$sapphire: $skye;

:root .theme-light {
  @import "shades/summer";
  @import "components/lightfix";
}

@import "theme";
.theme-dark {
  @include theme.highlights("frappe");
}
