/**
 * @name Catppuccin Mocha
 * @author winston#0001
 * @authorId 505490445468696576
 * @version 0.2.0
 * @description 🎮 Soothing pastel theme for Discord
 * @website https://github.com/catppuccin/discord
 * @invite r6Mdz5dpFc
**/

$dcommit: "dev";

@use "sass:math";
@use "shades/winter" as *;
@use "@catppuccin/highlightjs/sass/theme";

$brand: $blue;

$lavender: $pink;
$rosewater: $pink;
$mauve: $purple;
$sky: $skye;
$teal: $aqua;
$maroon: $red;
$peach: $orange;
$sapphire: $skye;

.theme-dark,
.visual-refresh.theme-dark,
.visual-refresh .theme-dark {
  @import "components/contrast-dark";
  @import "theme";

  @include theme.highlights("mocha");
}

.theme-light,
.visual-refresh.theme-light,
.visual-refresh .theme-light {
  @import "shades/summer";

  @import "components/tweak-light";
  @import "theme";
}
