/**
 * @name Evergarden Summer
 * @author winston#0001
 * @authorId 505490445468696576
 * @version 0.2.0
 * @description 🎮 Cozy theme for Discord
 * @website https://github.com/everviolet/discord
 * @invite 8Gk6hJHjE5
**/

$dcommit: "dev";

@use "sass:math";
@use "@everviolet/palette/scss/summer" as *;
@use "@catppuccin/highlightjs/sass/theme";

$brand: $blue;

$lavender: $pink;
$rosewater: $cherry;
$mauve: $purple;
$sky: $skye;
$teal: $aqua;
$maroon: $red;
$peach: $orange;
$sapphire: $snow;

.theme-dark,
.visual-refresh.theme-dark,
.visual-refresh .theme-dark {
  @import "@everviolet/palette/scss/winter";

  @import "components/tweaks/dark";
  @import "theme";
}

.theme-light,
.visual-refresh.theme-light,
.visual-refresh .theme-light {
  @import "components/tweaks/light";
  @import "theme";

  @include theme.highlights("latte");
}
