/* evergarden summer */
$red: #c0696b;
$orange: #ca8c70;
$yellow: #cbae75;
$lime: #b4c17f;
$green: #a9be88;
$aqua: #91bb9c;
$skye: #8fbab5;
$snow: #8eb4ba;
$blue: #8ca4bb;
$purple: #b19ac6;
$pink: #d0a3c3;
$cherry: #dbb5ca;
$text: #171C1F;
$subtext1: #415055;
$subtext0: #526469;
$overlay2: #63787D;
$overlay1: #758A90;
$overlay0: #879DA4;
$surface2: #9CB2B8;
$surface1: #B4C6CC;
$surface0: #CED9E0;
$base: #E9EBF0;
$mantle: #E1E5ED;
$crust: #D6DBE9;
