/* evergarden summer */
$red: #e67e80;
$orange: #e69875;
$yellow: #dbbc7f;
$green: #b2c98f;
$aqua: #93c9a1;
$skye: #97c9c3;
$blue: #9bb5cf;
$purple: #d6a0d1;
$pink: #e3a8d1;
$crust: #dddecf;
$mantle: #caccbe;
$base: #94aaa0;
$surface0: #839e9a;
$surface1: #738a8b;
$surface2: #617377;
$overlay0: #4f5e62;
$overlay1: #3d494d;
$overlay2: #232a2e;
$subtext0: #1d2428;
$subtext1: #191e21;
$text: #171c1f;
