/* evergarden summer */
$red: #e67e80;
$orange: #e69875;
$yellow: #dbbc7f;
$green: #b2c98f;
$aqua: #93c9a1;
$skye: #97c9c3;
$blue: #9bb5cf;
$purple: #d6a0d1;
$pink: #e3a8d1;
$text: #171C1F;
$subtext1: #415055;
$subtext0: #526469;
$overlay2: #63787D;
$overlay1: #758A90;
$overlay0: #879DA4;
$surface2: #9CB2B8;
$surface1: #B4C6CC;
$surface0: #CED9E0;
$base: #E9EBF0;
$mantle: #E1E5ED;
$crust: #D6DBE9;
